resources:
  - namespace.yaml
  - ../base/mysql.yaml
  - ../base/app.yaml
  - ../base/nginx-config.yaml
  - ../base/ingress.yaml

namespace: homolog

images:
  - name: app-placeholder
    newName: app-placeholder
    newTag: latest

secretGenerator:
  - name: mysql-secrets
    literals:
      - password=PLACEHOLDER_DB_PASSWORD
  - name: app-secrets
    literals:
      - APP_NAME=Laravel-API-Homolog
      - APP_ENV=homolog
      - APP_DEBUG=true
      - DB_CONNECTION=mysql
      - DB_HOST=mysql-service
      - DB_PORT=PLACEHOLDER_DB_PORT
      - DB_DATABASE=PLACEHOLDER_DB_DATABASE
      - DB_USERNAME=root
      - DB_PASSWORD=PLACEHOLDER_DB_PASSWORD
      - APP_KEY=PLACEHOLDER_APP_KEY

patches:
  - target:
      version: v1
      kind: Service
      name: ingress-nginx-controller
      namespace: ingress-nginx
    patch: |-
      - op: replace
        path: /metadata/annotations/service.beta.kubernetes.io~1do-loadbalancer-enable-proxy-protocol
        value: "false"
  - target:
      version: v1
      kind: ConfigMap
      name: ingress-nginx-controller
      namespace: ingress-nginx
    patch: |-
      - op: replace
        path: /data/use-proxy-protocol
        value: "false"