name: CI/CD Pipeline

on:
  push:
    branches: [ main, develop ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, pdo_mysql, bcmath
      
      - name: Install Dependencies
        run: composer install --ignore-platform-reqs

      - name: Run Pint (Lint)
        run: ./vendor/bin/pint --test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Prod Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/php/Dockerfile
          target: prod
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/app-laravel:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/app-laravel:${{ github.sha }}